@import url(https://fonts.googleapis.com/css?family=Oooh+Baby:regular);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    -webkit-font-smoothing: antialiased; 

}
html{
    position: relative;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    /*background-image: linear-gradient(to  left top, rgb(26, 25, 25),  rgb(94, 89, 89));
*/
}
.div-svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}
.div-svg svg{
    color: rgb(255, 230, 0);
    width: 100%;
    height: 100%;
}
.container{
    max-width: 400px;
}
.btn-zero{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    min-width: 200px;
    text-align: center;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    transition: 0.5s;
}
/* h1:hover{
    background: red;
    border:3px solid #fff;
    transition: 0.5s;
}
 */

ul a{
    color: rgb(0, 255, 157)
}
.d7 svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.text1{
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px silver;
    cursor: pointer;
}
.text1 svg{
    margin-top: 12px;
    width: 40px;
    height: 40px;
}
.text2{
    width: 100%;
    height: fit-content;
    background-color: #000;
    padding: 10px 0;
    cursor: pointer;
}
.text2 svg{
    width: 40px;
    height: 40px;
}

.class-score1{
    position: relative;
    width: 155px;
    height: 161px;
    padding: 0 0 0 20px;
    background-color: coral;
    text-align: left;
    box-shadow: 0 0 10px 100px silver;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);

}
.class-score1 svg{
    color: #fff;
    width: 37px;
    height: 37px;
    margin:40px 0 0 12px;
}

.class-score2{
    width: 100%;
    text-align: center;
    background-color: #000;
    padding: 10px;
}
.class-score2 svg{
    color: #fff;
    width: 37px;
    height: 37px;
}









